.ImageNSV{

width:70%;
height:50%;
margin-left: 50px;
margin-top: 50px;

}
.Image2NSV{
    width:80%;
    height:50%;  
    margin-left: 144px;
    margin-top: -50px;

}
.ToEditH{
    margin-left: 390px;
}
.TagLantern{
   color: rgb(15, 184, 18,.97);
}
.TagAthena{
    color: rgb(15, 184, 18,.97);
 }
 .TagCovid{
    color: rgb(15, 184, 18,.97);
 }
 .TagLanguage{
    color: rgb(15, 184, 18,.97);
 }