

  .topnav {
    background-color: white;
    overflow: hidden;
    text-align: right;
    width: 100%;
    float : right;

    
  }

  
  
  /* Style the links inside the navigation bar */
  .topnav a {
    /* float: right; */
    color:black;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-right: auto;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    color: black;
    font-weight: bold;

  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: white;
    color: black;
    font-weight: bold;

  }

  .topnav a.elipse{
   border-color: rgba(15,184,18,.97);
   border-style: solid;
    height: 100px;
    width: 80px;
    border-radius: 35%;

  }

  .container-fluid-footer{
    background:#363636;
  }

  .burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}
.burger {
  display: none;
}
  